html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(0.9em, 1.3em, 1.5em);
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 20, 80, 1)
}

.navbar {
    font-family: 'Times New Roman', Times, serif;
    height: 2.5rem;
    flex: 0 0 1;
    display: grid;
    grid: '. .';
    gap: 2rem;
    font-size: 1.3rem;
    justify-content: right;
    align-items: center;
    padding: 0.4rem 2rem 0.4rem 0rem;
    background-color: rgba(0,0,0, 1);
    color: #BBBBBB;
}
/*
.list {
    flex-grow: 1;
    display: grid;
    /* grid-template-rows: 1;
    grid-template-columns: 80% 10% 10%;
    gap: 0px;
}

.list>* {
    border: 2px solid red;
}

#urlList {
    overflow-y: auto;
}

#urlList>* {
    overflow-x: hidden;
    border-bottom: 1px solid black;
    padding-left: 0.15em;
    padding-top: 0em;
}

#buttonList button {
    width: 1.2rem;
    height: 1rem;
}

#buttonList li {
    align-items: center;
    border: 1px solid red;
}

.list li:hover {
    overflow-x: auto;
}

#urlList:first-child {
    border-top: 1px solid black;
}
*/



/*
.links-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: space-around;
    justify-items: center;
    padding: 1rem;
    overflow-y: auto;
    align-items: center;
}
*/

.links-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.box {

    border: 0.25rem groove #BBBBBB;
    border-radius: 1.5rem;
    background-color: #DDDDDD;
    width: 14rem;
    height: 14rem;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 50% 50%;
    grid-template-areas:    "a a"
                            "b c";
    
}

.box button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: #333333;
    border: 0.11rem solid #000000;
}

.urlTextBox {
    grid-area: a;
    text-align: center;
    height: min-content;
    font-size: 1.4rem;
    font-weight: 700;
    align-self: center;
}

.urlTextBox>span {
    font-size: 0.8em;
    font-weight: 1;
}

.editURL {
    text-align: right;
    margin-right: 1.1rem;
}

.editURL>button {
    color: orange;
}

.delURL {
    text-align: left;
    margin-left: 1.1rem;
}

.delURL>button {
    color: red;
}


.link-input-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    padding: 1em;
    /* background-color: #666666; */ 
    background-color: #0005;
}

.link-input-bar>input {
    flex: 1 1 auto;
    height: 3em;
    border-radius: 4em;
    border: 0.2rem solid transparent;
    background-color: rgba(180,180,180,0.6);
    size: 2rem;
    text-indent: 1.5rem;

}

.link-input-bar>button {
    flex: 1 1 initial;
    font-size: 20px;
    width: 2.5em;
    height: 2.5em;
    border-radius: 4em;
    border-color: transparent;
    background-color: rgb(250, 176, 39);
}

input:focus {
    border-color: blue;
}

.click {
    cursor: pointer;
}

.hidden {
    margin: 0rem;
    padding: 0rem;
    height: 0rem;
    width: 0rem;
    font-size: 0rem;
}



@media (max-width:480px) {

    html, body {
        font-size: 0.75em;
    }
}