html, html body, html body #root, html body #app {
  height: 100%;
  font-family: "Inter", system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  html, html body, html body #root, html body #app {
    font-size: 1.5rem;
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
  }
}
html body, html body #root, html body #app {
  background-color: hsl(218deg, 50%, 10%);
}
html body #root, html body #app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
html .no-sel, html body #root .no-sel, html body #app .no-sel {
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.navbar {
  font-family: "Inconsolata", serif;
  height: 2.5rem;
  flex: 0 0 1;
  display: flex;
  gap: 2rem;
  font-size: min(6.5vw, 1.1rem);
  align-items: center;
  padding: 0vw 1vw 0vw 0vw;
  background-color: hsl(218deg, 50%, 10%);
  color: hsl(90deg, 30%, 73%);
  justify-content: center;
}
.navbar > div {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.navbar span {
  cursor: pointer;
  margin-left: auto;
}

.loginPrompt {
  display: flex;
  font-family: "Inter", "Times New Roman", Times, serif;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(218deg, 50%, 10%);
  color: white;
  align-items: center;
  z-index: 1;
}
@media screen and (min-width: 570px) {
  .loginPrompt {
    aspect-ratio: 3/4;
    justify-content: center;
    padding: 3% 0%;
    position: absolute;
    width: 20%;
    height: -moz-fit-content;
    height: fit-content;
    left: 100%;
    transform: translate(-100%, 2.5rem);
    margin-left: auto;
    background-color: #132139;
    color: black;
    border: 1px solid hsl(0deg, 0%, 30%);
  }
}
.loginPrompt > input, .loginPrompt > button {
  background-color: #14181f;
  border: 1px solid hsl(0deg, 0%, 30%);
  color: hsl(0deg, 10%, 100%);
}
.loginPrompt.hidden {
  transform: scale(0);
}
.loginPrompt .top-bar {
  width: 100%;
  padding-top: 0.5rem;
  position: relative;
}
.loginPrompt .top-bar #close-btn {
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 80%);
  font-weight: 600;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 25%;
  left: 5%;
}
.loginPrompt .top-bar .logo {
  display: flex;
  font-size: 5vh;
  flex: 1;
}
@media screen and (min-width: 570px) {
  .loginPrompt .top-bar *, .loginPrompt .top-bar #close-btn {
    margin: 0rem;
    padding: 0rem;
    height: 0rem;
    width: 0rem;
    font-size: 0rem;
  }
}
.loginPrompt .promptTitle {
  color: hsl(0deg, 0%, 80%);
  font-style: "Calibri";
}
@media screen and (max-width: 570px) {
  .loginPrompt .promptTitle {
    margin: 45% 0% 10%;
    font-size: 2rem;
  }
}
.loginPrompt input {
  margin: 5% 0% 0%;
  padding: 0;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 10vw;
  text-indent: 1rem;
}
@media screen and (min-width: 570px) {
  .loginPrompt input {
    font-size: 0.8rem;
    padding: 0.3rem 0;
  }
}
.loginPrompt button {
  width: max(16vw, 16rem);
  max-width: 80%;
  height: 2rem;
  margin: auto 0% 8%;
  border-radius: 0.8rem;
  font-size: max(1rem, 1.6vw);
  cursor: pointer;
}
@media screen and (min-width: 570px) {
  .loginPrompt button {
    margin: 5% 0% 0%;
    max-height: 6vh;
  }
}

.logo {
  font-weight: 1000;
  font-size: clamp(6vh, 3rem, 20vw);
  color: hsl(90deg, 30%, 73%);
  justify-content: center;
}
.logo span {
  align-self: center;
  justify-self: center;
}

.bottomBar {
  display: flex;
  justify-content: center;
  width: 100vw;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 0.5rem;
  margin-top: 0.2rem; /* trying to fix awkward scrollbar length */
  border-radius: 0.7rem 0.7rem 0rem 0rem;
}
.bottomBar > .flex-container {
  display: flex;
  width: 100vw;
  padding: 30vh 0vh 0vh;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  gap: 0.8rem;
}
@media screen and (max-width: 800px) {
  .bottomBar > .flex-container {
    padding-top: 25vh;
    flex-direction: column;
  }
  .bottomBar > .flex-container button {
    align-self: center;
  }
}
.bottomBar > .flex-container > .flex-container {
  display: flex;
  flex: 1 1 0;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.bottomBar > .flex-container input[type=url] {
  font-family: "Inconsolata", serif;
  height: 3em;
  flex: 1 1 auto;
  width: max(40vw, 3rem);
  border-radius: 4em;
  border: 0.1rem solid transparent;
  background-color: hsl(200deg, 25%, 30%);
  size: 2rem;
  text-indent: 1.5rem;
  align-self: center;
}
.bottomBar > .flex-container input[type=url]:focus {
  border-color: hsl(220deg, 80%, 70%);
  outline: none;
}
@media screen and (max-width: 800px) {
  .bottomBar > .flex-container input[type=url] {
    width: 80vw;
  }
}
.bottomBar button {
  flex: 1 1 initial;
  align-self: flex-end;
  font-size: 20px;
  padding: 0;
  width: 4.4em;
  height: 2.2em;
  border-radius: 4em;
  border-color: transparent;
  background-color: hsl(200deg, 75%, 60%);
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .bottomBar button {
    margin-top: 1em;
    width: 2.2em;
    scale: 1.25;
  }
}

@keyframes showPopup {
  0% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes hidePopup {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50vh);
  }
}
.popup {
  color: hsl(90deg, 30%, 73%);
  font-family: "Helvetica", serif;
  font-size: 0.85em;
  font-weight: bold;
  background-color: #172845;
  padding: 0.5rem 2rem;
  border: 0.1875rem solid #060b13;
  border-radius: 1rem;
  animation: showPopup 1s 1.5s;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
  margin: auto 0.5rem;
  margin-bottom: 1rem;
  align-self: center;
  align-items: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 95vw;
  gap: 3vw;
}
@media screen and (max-width: 800px) {
  .popup {
    padding: 0.5rem 1rem;
  }
}
.popup > * {
  height: -moz-fit-content;
  height: fit-content;
}
.popup .buttons-container {
  align-self: center;
  display: flex;
  gap: 0.55rem;
}
.popup .buttons-container button {
  border-radius: 1.2rem;
  border: 2px solid black;
  padding: 0.3rem 0.6rem;
  font-size: 0.75em;
  font-weight: 600;
  color: hsl(90deg, 30%, 73%);
}
.popup .buttons-container button:nth-of-type(1) {
  background-color: green;
}
.popup .buttons-container button:nth-of-type(1):hover {
  background-color: rgb(32, 255, 32);
}
.popup .buttons-container button:nth-of-type(2) {
  background-color: rgb(180, 0, 0);
}
.popup .buttons-container button:nth-of-type(2):hover {
  background-color: rgb(255, 16, 16);
}
@media screen and (max-width: 800px) {
  .popup .buttons-container button {
    font-size: 1.2em;
  }
}

/* scrollbar for modern webkit browsers */
::-webkit-scrollbar {
  width: auto;
  margin-bottom: 2rem;
}

/* Scroll track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px hsl(0deg, 0%, 0%);
  border-radius: 16px;
}

/* Click Handle */
::-webkit-scrollbar-thumb {
  background: hsl(215deg, 58%, 6%);
  border-radius: 16px;
}

/*--------------------------------*//*# sourceMappingURL=nouser.css.map */