html, html body {
  height: 100%;
  font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 800px) {
  html, html body {
    font-size: 1.5rem;
  }
}
html body {
  display: flex;
  flex-direction: column;
  background-color: hsl(218deg, 50%, 10%);
}

.navbar {
  font-family: "Times New Roman", Times, serif;
  height: 2.5rem;
  flex: 0 0 1;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 650;
  align-items: center;
  padding: 0.4rem 2rem 0.4rem 0rem;
  background-color: hsl(218deg, 50%, 10%);
  color: hsl(90deg, 30%, 73%);
}
.navbar > div {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.navbar span {
  cursor: pointer;
  margin-left: auto;
}
.navbar .logo {
  margin-left: 2rem;
}

.links-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4vh;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: hsl(0deg, 0%, 10%) hsl(0deg, 0%, 0%);
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .links-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
  }
}

.box {
  border: 0.25rem solid hsl(230deg, 75%, 5%);
  border-radius: 1.5rem;
  background-image: linear-gradient(to bottom, hsl(240deg, 95%, 50%) 0%, 35%, #02024b 100%);
  color: lightblue;
  width: 100%;
  height: clamp(4rem, 25vh, 15%);
  padding: 2rem auto;
  font-size: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (min-width: 800px) {
  .box {
    width: clamp(16rem, 30%, 20rem);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    flex-direction: column-reverse;
    align-self: center;
  }
}
@media screen and (max-height: 570px) {
  .box {
    width: 100%;
    height: clamp(3.2rem, 25vh, 80%);
    flex-direction: row-reverse;
  }
}
.box button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 600;
  background-image: radial-gradient(circle, hsl(250deg, 95%, 0%) 60%, hsl(250deg, 0%, 100%) 100%);
  border: none;
  border-radius: 3rem;
  cursor: default;
}
.box button:hover {
  background-image: radial-gradient(circle, hsl(250deg, 95%, 15%) 60%, hsl(250deg, 85%, 100%) 100%);
}
.box .urlTextBox {
  flex: 1 1 initial;
  display: inline-block;
  text-align: start;
  padding-left: 1rem;
  margin-top: 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 800px) and (min-height: 570px) {
  .box .urlTextBox {
    text-align: center;
    padding-left: 0rem;
    padding-top: 1rem;
    text-overflow: ellipsis;
  }
  .box .urlTextBox > div {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.box .urlTextBox .subtext {
  font-size: 0.8em;
  font-weight: 1;
}
.box .boxButtons {
  flex: 1 1 content;
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 1.5rem;
  padding-right: 1rem;
}
@media screen and (min-width: 800px) and (min-height: 570px) {
  .box .boxButtons {
    flex: 0;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    padding-right: 0rem;
  }
}
.box .boxButtons > * {
  margin: 0;
  align-self: center;
}
.box .boxButtons .editURL button {
  color: orange;
}
.box .boxButtons .delURL button {
  color: red;
}

.bottomBar {
  justify-content: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem;
  margin-top: 0.2rem; /* trying to fix awkward scrollbar length */
  background-color: hsl(218deg, 50%, 15%);
  border-radius: 0.7rem 0.7rem 0rem 0rem;
}
.bottomBar .flex-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.bottomBar input[type=url], .bottomBar input[type=text] {
  flex: 1 1 auto;
  height: 3em;
  border-radius: 4em;
  border: 0.1rem solid transparent;
  background-color: hsl(200deg, 25%, 30%);
  size: 2rem;
  text-indent: 1.5rem;
}
.bottomBar input[type=url]:focus, .bottomBar input[type=text]:focus {
  border-color: hsl(220deg, 80%, 70%);
  outline: none;
}
.bottomBar input[type=text] {
  margin-bottom: 0.5rem;
  width: 35%;
}
.bottomBar button {
  flex: 1 1 initial;
  font-size: 20px;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  border-radius: 4em;
  border-color: transparent;
  background-color: hsl(50deg, 75%, 57%);
  cursor: pointer;
}

/* scrollbar for modern webkit browsers */
::-webkit-scrollbar {
  width: auto;
  margin-bottom: 2rem;
}

/* Scroll track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px hsl(0deg, 0%, 0%);
  border-radius: 16px;
}

/* Click Handle */
::-webkit-scrollbar-thumb {
  background: hsl(215deg, 58%, 6%);
  border-radius: 16px;
}

/*--------------------------------*//*# sourceMappingURL=styles.css.map */