html, html body {
  height: 100%;
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 800px) {
  html, html body {
    font-size: 1.5rem;
  }
}

html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0d1626;
}

.navbar {
  font-family: 'Times New Roman', Times, serif;
  height: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1;
          flex: 0 0 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 650;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 2rem 0.4rem 0rem;
  background-color: #0d1626;
  /* background-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 0%) 30%, hsl(218, 70%, 10%) 100%); */
  color: #bacfa5;
}

@media screen and (max-width: 800px) {
  .navbar .login, .navbar .register {
    margin: 0rem;
    padding: 0rem;
    height: 0rem;
    width: 0rem;
    font-size: 0rem;
  }
}

@media screen and (min-width: 800px) {
  .navbar .navbar-button {
    margin: 0rem;
    padding: 0rem;
    height: 0rem;
    width: 0rem;
    font-size: 0rem;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    font-size: 1rem;
  }
}

.navbar span {
  cursor: pointer;
}

.links-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 4vh;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #1a1a1a black;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  .links-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.box {
  border: 0.25rem solid #030616;
  border-radius: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d12a5), color-stop(20%, #0b108e), to(#010109));
  background-image: linear-gradient(to bottom, #0d12a5 0%, #0b108e 20%, #010109 100%);
  color: lightblue;
  width: 100%;
  height: clamp(4rem, 25vh, 15%);
  padding: 2rem auto;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 800px) {
  .box {
    width: 14rem;
    height: 14rem;
    padding: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .box * {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.box button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#04052f), to(#020213));
  background-image: linear-gradient(to bottom, #04052f 0%, #020213 100%);
  border: none;
  border-radius: 3rem;
  cursor: default;
}

.box .urlTextBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 initial;
          flex: 1 1 initial;
  display: inline-block;
  text-align: start;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 800px) {
  .box .urlTextBox {
    text-align: center;
    padding-left: 0rem;
    height: 30%;
    margin-top: 4rem;
  }
}

.box .urlTextBox span {
  font-size: 0.8em;
  font-weight: 1;
}

.box .boxButtons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  gap: 1.5rem;
  padding-right: 1rem;
}

@media screen and (min-width: 800px) {
  .box .boxButtons {
    gap: 0rem;
    padding-right: 0rem;
  }
}

.box .boxButtons .editURL button {
  color: orange;
}

.box .boxButtons .delURL button {
  color: red;
}

.link-input-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 0.5rem;
  padding: 0.5em;
  margin-top: 0.2rem;
  /* trying to fix awkward scrollbar length */
  background-color: #132139;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
}

.link-input-bar input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 3em;
  border-radius: 4em;
  border: 0.1rem solid transparent;
  background-color: #395360;
  size: 2rem;
  text-indent: 1.5rem;
}

.link-input-bar input:focus {
  border-color: #759ef0;
  outline: none;
}

.link-input-bar button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 initial;
          flex: 1 1 initial;
  font-size: 20px;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  border-radius: 4em;
  border-color: transparent;
  background-color: #e4c83f;
  cursor: pointer;
}

@media (max-height: 570px) {
  .navbar {
    font-size: 1.5rem;
  }
  .box {
    width: 100%;
    height: clamp(3.2rem, 25vh, 80%);
    /* height: fit-content; */
    /* padding: 0.2rem 2rem 2rem auto; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .urlTextBox {
    text-align: start;
    padding-left: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .boxButtons {
    gap: 1.5rem;
    padding-right: 1rem;
  }
  .box > * {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* scrollbar for modern webkit browsers */
::-webkit-scrollbar {
  width: auto;
  margin-bottom: 2rem;
}

/* Scroll track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px black;
          box-shadow: inset 0 0 5px black;
  border-radius: 16px;
}

/* Click Handle */
::-webkit-scrollbar-thumb {
  background: #060e18;
  border-radius: 16px;
}

/*--------------------------------*/
/*# sourceMappingURL=styles.css.map */